/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}    




.divCentral{
    display: flex;
    align-items: center;
    justify-content: center;
}