/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}    

.header h1 {
    font-size: 5vw;
    opacity: 66%;
    color: black;
    transform: rotate(-10deg);
}

body{
    margin: 50px;
    position: relative;
}