/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

body, .input *, .element{
    font-family: 'Inter', sans-serif;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}    
