main {
    margin-top: 9em;
}

h1, h2, a{
    text-align: center;
    flex-basis: auto;
}

.groupe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.groupe img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 30px;
}
