main {
    margin-top: 9em;
}

h1, h2, a{
    text-align: center;
    flex-basis: auto;
}

.groupe {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 40px;
    background-color: rgb(14, 48, 48);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.groupe img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 30px;
}


.groupeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}