{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/favoris.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background-festival-ete.css') }}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<div class="divCentral">
<p>coucou</p>

</div>

<!-- <div class="groupeList">
{% for groupe in groupFavorisList %}
<div class="groupe flex">
    <h2>{{ groupe[0] }}</h2>
    <img class="groupeImage" src="{{ url_for('static', filename='imagesHtml/' + groupe[2]) }}" alt="Photo du groupe {{ groupe[0] }}">
    <a href="{{ url_for('groupe',idUser=user[0], idGroupe=groupe[3]) }}">Voir le groupe</a>
</div>

{% endfor %}
</div> -->
{% endblock %}