{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/achat_billet.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background-festival-ete.css') }}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
{%if type == "evenement"%}
<div class="divCentral">
    <div class="positionRecapitulatif">
        <div class="recapitulatif">
            <h1>{{lieux}} : {{date}} a {{lieux}}</h1>
            <h1>prix :</h1>
        </div>
    </div>
    <div class="positionFicheDePayement">
        <div class="ficheDePayement">
            <div class="conteneurTextArea">
                <label for="userInput">Numero de carte</label>
                <textarea id="carteInput" rows="1" cols="50" placeholder="Saisissez votre numero..."></textarea>
            </div>
            <div class="conteneurTextArea">
                <label for="userInput">date de peremption</label>
                <textarea id="dateInput" rows="1" cols="50" placeholder="Saisissez la date..."></textarea>
            </div>
            <div class="conteneurTextArea">
                <label for="userInput">Numero de verification</label>
                <textarea id="verificationInput" rows="1" cols="50" placeholder="Saisissez votre numero..."></textarea>
            </div>
            <div class="conteneurTextArea">
                <button onclick="acheterBillet({{idEvenement}})">payer</button>
            </div>
        </div>
    </div>
</div>
<script>var types = {{ type | tojson | safe }}</script>
<script src="../static/js/jsAchat_billet.js"></script>  
{%else%}
    <script>
        var nombreJournee = {{nombre}};
        var type = {{type}};
        var idJournees = {{ idJournee | tojson | safe }};
    </script>
<div class="divCentral">
    <div class="positionRecapitulatif">
        <div class="recapitulatif">
            <h1></h1>
            <h1>prix :</h1>
        </div>
    </div>
    <div class="positionFicheDePayement">
        <div class="ficheDePayement">
            <div class="conteneurTextArea">
                <label for="userInput">Numero de carte</label>
                <textarea id="carteInput" rows="1" cols="50" placeholder="Saisissez votre numero..."></textarea>
            </div>
            <div class="conteneurTextArea">
                <label for="userInput">date de peremption</label>
                <textarea id="dateInput" rows="1" cols="50" placeholder="Saisissez la date..."></textarea>
            </div>
            <div class="conteneurTextArea">
                <label for="userInput">Numero de verification</label>
                <textarea id="verificationInput" rows="1" cols="50" placeholder="Saisissez votre numero..."></textarea>
            </div>
            <div class="conteneurTextArea">
                <button onclick="acheterBillet({{idJournee}})">payer</button>
            </div>
        </div>
    </div>
</div>

<script>var types = {{ type | tojson | safe }};
    var typeBillet = {{ typeBillet | tojson | safe }};
    
    function acheterBillet(idEvenement){
    if(document.getElementById("carteInput").value != "" && document.getElementById("dateInput").value != "" && document.getElementById("verificationInput").value != ""){
        console.log(types+" a");
        if(types == "evenement"){
            $.ajax({
                url: '/achat_billet',
                type: 'GET',
                data: {
                    "idEvenement" : idEvenement
                },
                success: function (data) {
                        alert(data);
                }
            });
        }
        else{
            $.ajax({
                url: '/achat_billet',
                type: 'GET',
                data: {
                    "idJournee" : idJournees,
                    "nombre" : nombreJournee,
                    "type" : typeBillet,
                },
                success: function (data) {
                        alert(data);
                }
            });
        }
    }
}
    </script>

{%endif%}
        
{% endblock %}