{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modifier.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background-festival.css') }}">
{% endblock %}

{% block content %}
<main>
        <div class="form mdp">
            <form role="form" method="POST">
                <div class="divForm">
                    <h1> Ajouter un musicien </h1>

                    {{ form.hidden_tag() }}
                    <div class="input">
                        <div class="element">
                            {{ form.nom(size=50, class_="form-control element", placeholder="Nom") }}
                        </div>
                    </div>
                    <div class="input">
                        <div class="element">
                            {{ form.email(size=50, class_="form-control element", placeholder="Email") }}
                        </div>
                    </div>
                    <div class="input">
                        <div class="element">
                            {{ form.numeroTelephone(size=50, class_="form-control element", placeholder="Numéro de téléphone") }}
                        </div>
                    </div>
                    <div class="input">
                        <div class="element">
                            {{ form.photo(size=50, class_="form-control element", placeholder="Votre photo") }}
                        </div>
                    </div>
                    <div class="btn-container">
                        <input type="submit" class="element elementSubmit" value="Ajouter un musicien" />
                    </div>
                </div>
            </form>
        </div>
</main>

{% endblock %}
