<html lang="fr">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block styles %}
        <!-- css -->
        {% endblock %}
    <body>
        <header class="header">
            <nav class="nav">
                <ul>
                    <li><a href="{{ url_for('base') }}">accueil</a></li>
                    <li><a href="{{ url_for('login') }}">login</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>