{% extends 'base.html' %}

{% block content %}
{% if 'utilisateur' in session %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/billeterie.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background-festival-ete.css') }}">
{% endblock %}

    <div class="divCentral">
        <div class="divPositionPageBoutonBillet">
            <div class="divParentBoutonBillet">
                <button class="boutonBillet" onclick="typeBillet(1)"><img class="imageBoutonbillet"
                        src="../static/imagesHtml/ticket_icon.webp" alt="">
                    <p class="PBoutonBillet">Pour une jounée<br> </p>
                </button>
                <button class="boutonBillet" onclick="typeBillet(2)"><img class="imageBoutonbillet"
                        src="../static/imagesHtml/ticket_icon.webp" alt="">
                    <p class="PBoutonBillet"> Pour 2 jour<br> </p>
                </button>
                <button class="boutonBillet" onclick="typeBillet(3)"><img class="imageBoutonbillet"
                        src="../static/imagesHtml/ticket_icon.webp" alt="">
                    <p class="PBoutonBillet">Pour tout la duree <br>du festival </p>
                </button>
            </div>
        </div>
        <div class="positionCalendrier" id="positionCalendrierID">
            <div class="container">
                <div class="calendar-assets">
                    <h1 id="currentDate"></h1>
                    <div class="field">
                            <div>
                                <input id="date" class="text-field" name="date" required="" size="20" type= "date" readonly> 
                            </div>
                            <div>
                                <button type="btn" class="btn-small btn" value="Enregister" onclick="sauvergarderDate()">Enregister
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="day-assets">
                        <button class="btn" onclick="prevDay()" title="Dia anterior"><i class="fas fa-chevron-left"><</i>
                            </button>
                                <button class="btn" onclick="resetDate()" title="Dia atual"><i
                                        class="fas fa-calendar-day"></i>reset</button>
                                <button class="btn" onclick="nextDay()" title="Próximo dia"><i
                                        class="fas fa-chevron-right"></i> ></button>
                    </div>
                </div>
                <div class="calendar" id="table">
                    <div class="headerBillet">
                        <!-- Aqui é onde ficará o h1 com o mês e o ano -->
                        <div class="month" id="month-header">

                        </div>
                        <div class="buttons">
                            <button class="icon" onclick="prevMonth()" title="Mês anterior"><i class="fas fa-chevron-left"></i><</button>
                            <button class="icon" onclick="nextMonth()" title="Próximo mês"><i class="fas fa-chevron-right "></i>></button>
                        </div>
                    </div>
                </div>
                <div class="positionInformationVente">
                    <div class="informationVente" id="informationVente">
                        <div id= "typeBillet">
                            
                        </div>
                        <div class = "nbBillet">
                            <input type="text" id="valeur" readonly>
                            <button onclick="increment()">+</button>
                            <button onclick="decrement()">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    var listeDate = {{ listeDate | tojson | safe }};
    var listeMoisJour = [];
</script>
<script src="../static/js/jsBilleterie.js"></script>

{% endif %}

{% if 'utilisateur' not in session %}
<div> Vous devez vous connecté
    <a href="{{ url_for('login') }}">Se connecter</a>
</div>
{% endif %}
{% endblock %}