{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/espaceOrganisateur.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background-festival.css') }}">
{% endblock %}

{% block content %}

<main>
    <ul>
        <li><a href="{{ url_for('gestionComptes_avant') }}">Gestion des comptes</a></li>
        <li><a href="{{ url_for('gestionArtiste') }}">Gestion des artistes</a></li>
        <li><a href="{{ url_for('organisation') }}">Gestion des hebergement</a></li>
        <li><a href="{{ url_for('organisation') }}">Gestion des concerts</a></li>
        <li><a href="{{ url_for('organisation') }}">Gestion des lieux</a></li>
        <li><a href="{{ url_for('organisation') }}">Gestion des billets</a></li>
        <li><a href="{{ url_for('organisation') }}">Gestion des evenements</a></li>
    </ul>
</main>




{% endblock %}