{% extends 'base.html' %} {% block styles %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/gestionGroupeUnique.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/background-festival.css') }}"
/>
{% endblock %} {% block content %}
<main>
  <h1>Gestion du concert</h1>

  <div class="gestionCompte">
    <div> <h2>Information du concert</h2>
      <img src="../static/imagesHtml/{{concert[2]}}" alt="photo de profil">
      <p>nom du groupe : {{concert[1]}}</p>
      <p>nom de la scene : {{concert[3]}}</p>
      <p>temps montage : {{concert[4]}}</p>
      <p>temps demontage : {{concert[5]}}</p>
      <p>date debut du Concert : {{concert[6]}}</p>
      <p>date fin du Concert : {{concert[7]}}</p>
</div>
    <div>
      <ul class="fonctionnalite">
        <h2>Liste des fonctionnalités</h2>
        <li>
          <a href="{{ url_for('modifierGroupePourConsert', idEvenement=concert[0]) }}">
            Modifier le groupe du consert
          </a>
        </li>
        <li>
            <a href="{{ url_for('modifierScenePourConsert', idEvenement=concert[0]) }}">
              modifier la scene du concert
            </a>
          </li>
        <li>
          <a href="{{ url_for('modifierMontagePourConsert', idEvenement=concert[0]) }}">
            modifier le temps de montage
          </a>
        </li>
        <li>
          <a href="{{ url_for('modifierDemontagePourConsert', idEvenement=concert[0]) }}">
            modifier le temps de demontage
          </a>
        </li>
        <li>
          <a href="{{ url_for('modifierDateDebutPourConsert', idEvenement=concert[0]) }}">
            modifier la date de debut du concert
          </a>
        </li>
        <li>
          <a href="{{ url_for('modifierDateFinPourConsert', idEvenement=concert[0]) }}">
            modifier la date de fin du concert
          </a>
        </li>
        <li class="alerte" >
          <a href="{{ url_for('supprimerEvenement', idEvenement=concert[0]) }}">
            Supprimer le concert
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</main>
{% endblock %}