{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gestionArtiste.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background-festival.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="listArtiste">
        {% for artiste in allArtiste %}
            <div>
                <p>{{artiste[1]}} </p>
                <a href="{{url_for('modifierArtiste', idUser=artiste[0])}}">Modifier</a>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
