{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modifierArtiste.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background-festival.css') }}">
{% endblock %}

{% block content %}

<main>
    <h1> Gestion de l'artiste  {{ user[1]}} </h1>
    <a class="buttonAjout" href="{{ url_for('ajouterArtiste') }}"> Ajouter un compte un musicien </a>

    <h2> Liste des fonctionnalités </h2>
    <ul>
        <li> <a href="{{ url_for('modifierEmailMusicien', idUser=user[0]) }}"> Modifier l'email </a> </li>
        <li> <a href="{{ url_for('modifierNomMusicien', idUser=user[0]) }}"> Modifier le nom </a> </li>
        <li> <a href="{{ url_for('modifierTelephoneMusicien', idUser=user[0]) }}"> Modifier le numéro de téléphone </a> </li>
        <li> <a href="{{ url_for('supprimerMusicien', idUser=user[0]) }}"> Supprimer le musicien </a> </li>
    </ul>
</div>
</main>
    
{% endblock %}
    