{% extends 'base.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/modifier_email.css') }}"
/>
<link rel="stylesheet"
  href="{{ url_for('static', filename='css/background-festival.css') }}"
/>
{% endblock %} {% block content %}
<div class="form">
  <h2>Changer l'email</h2>

  <form role="form" method="POST" action="{{ url_for('modifier_email') }}">
    {{ form.hidden_tag() }}

    <div class="input">
      <div class="element">
        {{ form.ancienEmail(size=50, class_="form-control element", placeholder="Email actuel") }}
      </div>
    </div>

    <div class="input">
      <div class="element">
        {{ form.passwordActuel(size=50, class_="form-control element",placeholder="Mot de passe actuel") }}
      </div>
    </div>

    <div class="input">
        <div class="element">
          {{ form.nouveauEmail(size=50, class_="form-control element", placeholder="Nouveau Email") }}
        </div>
    </div>

    <div class="btn-container">
      <input
        type="submit"
        class="element elementSubmit"
        value="Changer l'email"
      />
    </div>

  </form>
</div>

{% endblock %}