{% extends 'base.html' %}

{% block content %}
<script  src="../static/js/jsProgramme.js">
    let listeImage = {{ lireImage | tojson | safe }};
    
</script>
{% if 'utilisateur' in session %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/programme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background-festival-ete.css') }}">
{% endblock %}

<div class="divCentral">
    <div class="positionListeGroupeMusique">
        <div class="listeGroupeMusique">
            <div class="divTitreGroupeMusique">
                <h2 class="titreGroupeMusique" id="titreGroupeMusique">{{lireImage[1][2]}}</h2>
            </div>
            <div class="divChoixGroupeMusique">
                <button class="boutonChoixGroupe" onclick="changerImage(-1)">&lt;</button>
                <div class="conteneurGroupe" id ="divConteneurGroupe">
                {% for image, id , nomGroupe in lireImage %}
                    {% if loop.index == 1 %}
                    <a href="{{ url_for('groupe',idUser=user, idGroupe=id) }}" class="imageGroupe1 imageGroupe" id="choixImage{{ loop.index }}" title="{{ nomGroupe }}">
                        <img class="imageGroupe" id="choixImage{{ loop.index }}" src="{{ url_for('static', filename='imagesHtml/' ~ image) }}" alt="{{ nomGroupe }}">
                    </a>    
                    {% elif loop.index == 2 %}
                    <a href="{{ url_for('groupe',idUser=user, idGroupe=id) }}" class="imageGroupe2 imageGroupe" id="choixImage{{ loop.index }}" title="{{ nomGroupe }}">
                        <img class="imageGroupe" id="choixImage{{ loop.index }}" src="{{ url_for('static', filename='imagesHtml/' ~ image) }}" alt="{{ nomGroupe }}">
                    </a>
                    <script>changerInfoJournee({{ id }})</script>
                    {% elif loop.index == 3 %}
                    <a href="{{ url_for('groupe',idUser=user, idGroupe=id) }}" class="imageGroupe3 imageGroupe" id="choixImage{{ loop.index }}" title="{{ nomGroupe }}">
                        <img class="imageGroupe" id="choixImage{{ loop.index }}" src="{{ url_for('static', filename='imagesHtml/' ~ image) }}" alt="{{ nomGroupe }}">
                    </a>
                    {% else %}
                    <a href="{{ url_for('groupe',idUser=user, idGroupe=id) }}" class="imageCacher imageGroupe" id="choixImage{{ loop.index }}" title="{{ nomGroupe }}">
                        <img class="imageGroupe" id="choixImage{{ loop.index }}" src="{{ url_for('static', filename='imagesHtml/' ~ image) }}" alt="{{ nomGroupe }}">
                    </a>
                    {% endif %}
                {% endfor %}
                </div>
                <button class="boutonChoixGroupe" onclick="changerImage(1)">&gt;</button>
            </div>
        </div>
    </div>
    <div class="positionEvenements">    
        <div class="divCaseEvenements" id="divCaseEvenements">
            

        </div>
    </div>
</div>


{% endif %}

{% if 'utilisateur' not in session %}
<div> Vous devez vous connecté
    <a href="{{ url_for('login') }}">Se connecter</a>
</div>
{% endif %}
{% endblock %}